<a href="https://colab.research.google.com/github/pd2f/python/blob/master/lemonade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabalho Lemonade

In [0]:
from pandas import Series, DataFrame

import pandas as pd

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/pd2f/python/master/Lemonade2016.csv")

In [3]:
df.head(2)

       Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  7/1/2016     Park     97      67           70      90.0   0.25
1  7/2/2016     Park     98      67           72      90.0   0.25

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
Date           31 non-null object
Location       32 non-null object
Lemon          32 non-null int64
Orange         32 non-null int64
Temperature    32 non-null int64
Leaflets       31 non-null float64
Price          32 non-null float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.8+ KB

In [5]:
df.groupby(['Date','Leaflets']).mean()

                    Lemon  Orange  Temperature  Price
Date      Leaflets
7/1/2016  90.0         97      67           70   0.25
7/10/2016 131.0       140      98           82   0.25
7/11/2016 135.0       162     120           83   0.25
7/12/2016 99.0        130      95           84   0.25
7/13/2016 99.0        109      75           77   0.25
7/14/2016 113.0       122      85           78   0.25
7/15/2016 108.0        98      62           75   0.50
7/16/2016 90.0         81      50           74   0.50
7/17/2016 126.0       115      76           77   0.50
7/18/2016 122.0       131      92           81   0.50
7/19/2016 113.0       122      85           78   0.50
7/2/2016  90.0         98      67           72   0.25
7/21/2016 90.0         83      50           77   0.50
7/22/2016 108.0       112      75           80   0.50
7/23/2016 117.0       120      82           81   0.50
7/24/2016 117.0       121      82           82   0.50
7/25/2016 135.0       156     113           84   0.50
7/26/2016 158.0       176     129           83   0.35
7/27/2016 99.0        104      68           80   0.35
7/28/2016 90.0         96      63           82   0.35
7/29/2016 95.0        100      66           81   0.35
7/3/2016  104.0       110      77           71   0.25
7/30/2016 81.0         88      57           82   0.35
7/31/2016 68.0         76      47           82   0.35
7/4/2016  98.0        134      99           76   0.25
7/5/2016  135.0       159     118           78   0.25
7/6/2016  90.0        103      69           82   0.25
7/7/2016  135.0       143     101           81   0.25
7/9/2016  126.0       134      95           80   0.25